.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  .logo {
    img {
      width: 100px;
      height: 100px;
      background-color: white;
      border-radius: 50%;
    }
  }
  .navigation {
    .link {
      margin: 0px 150px;
      font-size: 20px;
      color: black;
      &.darkMode {
        color: white;
      }
    }
  }
}
